<a class="nav-link active" href="{{ path('index') }}">Home</a>
<a class="nav-link" href="#">New features</a>
<a class="nav-link" href="#">Press</a>
<a class="nav-link" href="{{ path('create') }}e">New Post</a>